@{
    ViewData["Title"] = "Dashboard";
}
@model Bid
@using Auctions.Models;

<div class="container">
    <div class="row">
        <div class="col-sm-6">
        <form method="post" asp-controller="Dashboard" asp-action="CreateBid">
            <div class="form-group">
                <label asp-for="bid_amount"></label>
                <span asp-validation-for="bid_amount"></span>
                <input class="form-control" asp-for="bid_amount">
            </div>
            <input type="submit" value="Submit">
        </form>
        </div>
    </div>
</div>